body {
    margin: 0;
    font-family: sans-serif;
    background-color: burlywood;
}

.content {
    margin: auto;
    max-width: 500px;
}

.content h1 {
    text-align: center;
}

table, td, tr, th {
    border: 1px solid black;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 10px;
}

#content {
    width: 70%;
}
